html{
    text-align: center;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

form{
    font-size: 10px;
    background-color: grey;
    text-align: center;
    display: flex;
    flex-direction: column;
}